@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", Arial;
  }
  select{
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
}
  .topnavtoggle{
    display: none;
    align-items: center;
    justify-content: center;
  }
 .toggleinmenu{
   display:none;
 }
  
a{
  text-decoration: none !important;
}
body{
  background: #f6f9fa;
}
.bodywrap {
  display: flex;
  min-height: 100vh;

    background: #f6f9fa;

}
.topnav{
  background: white;
  padding: 10px 2.5%;
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  display: flex;
  justify-content: flex-end;
}

.dashhead{
  margin: 22px 0 14px;
  text-align: left;
  font-size:18px;
}

  .navwrapper {
    min-width: 260px;
    background: #ffffff;
    flex-basis:20%;
    padding: 20px 0px;
    border-right: 1px solid rgba(120, 130, 140, 0.13);
  }

  .dslogo {
    padding-left: 25px;
    width: 125px;
  }


  .contentwrap {
    flex-basis: 80%;
    
    
  }

  .bodywrap {
    display: flex;
  }

  .additem {
    padding:10px 0%;
    margin: 15px 0 15px;
    color: #5b6271;
    border-radius: 6px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
  }
  h1 {
    font-weight: 400;
}
  .additem:hover {
    opacity: 0.9;
    transition: 0.2s;
  }
  .dsactive{
    background: #f0f5f7;
    border-left: 4px solid #20aee3;
  }
  .archieflink {
    font-weight: 500;    
   
    text-align: left;

    color: #5b6271;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 25px;
}
  .archieflink:hover{
    opacity: 0.9;
    transition: 0.2s;
    color:#20aee3;
  }
  .menuitemwrap div {
    padding: 5px 0;
    color: #353535;
    font-size: 16px;
  }

  .menuitems {
    padding-top: 25px;
    border-top: 1px solid #efefef;    padding-left: 25px;
    margin-top: 25px;
  }

  .menuitemwrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .filterlabel {
    font-variant: all-small-caps;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .card {
    flex-basis: 100%;
    margin: 10px 0;
    background: white;
    border-radius: 6px;
    min-width: 200px;

    border: 1px solid #efefef;
    display: flex;
    padding: 15px;
    max-width: 800px;
    margin: 5px;
}
.card img {
  width: 223px;
  border-radius: 6px;
  height: 125px;
  object-fit: cover;
  max-width: 170px;
  min-width: 95px;

}
div#dds-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card .hr{
  margin:10px 0 0 0;
    border: 0;
    height: 1px;
    background: #efefef;
}
.showallcars{
 cursor:pointer;
 font-weight: 500;

}
.beheerwagen {
  color: #20aee3;
  background: #f0f5f7;
  text-decoration: none;
  font-size: 13px;
  padding: 10px;
  font-weight: 500;
  border-radius: 7px;
  text-align: center;
  margin-top:10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #20aee3;
  width:25%;
  margin-right: 20px;
  min-width:110px;
  max-width: 130px;
}
.merkitem{
  cursor:pointer;
}.ds-selected {
  color: rgb(31 104 138) !important;
  transition: 0.4s;
  font-weight: bold;
}

.dds-group-button{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
  justify-content: flex-start;
}
.dds-group-button #dash-status{
  height: 100%;
}
.dds-group-button #dash-post-status{
  height: 100%;
}
select{
  border-radius: 7px;
  padding-left:25px;
  border: 1px solid #dedede;
    color: #7e879a;
    background:white;
    width: 100%;
}
option{
  background:white;
}


.selectwrapper{
  display: flex;
  align-items: center;
  height: 40px;
  width:30%;
  margin-right: 20px;
  min-width:130px;
  max-width: 164px;
  margin-top:10px;
}
.selectwrapper-post-status{
  display: flex;
  align-items: center;
  height: 40px;
  width:30%;
  margin-right: 20px;
  min-width:130px;
  max-width: 164px;
  margin-top:10px;
}

.dash-status-dot span {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 100px;
}
.dash-post-status-dot span {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 100px;
}
.live {
  background: #1eb716;
}
.nglive {
  background: #e67510;
}

.archief {
  background: #999999;
}


.tekoop {
  background: #1eb716;
}
.gereserveerd {
  background: #e67510;
}

.verkocht {
  background: #999999;
}

.dash-status-dot {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.dash-post-status-dot {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
@media only screen and (max-width: 700px) {
  .toggleinmenu{
    display:block;
    position:absolute;
    top:30px;
    left: 75%;
  } 
  .topnavtoggle{
    display:flex;
  }
  .topnav{
    padding:20px 10%;
    justify-content:space-between;
  }
  .loguitlink{
    padding:0;
  }
  
.card-body {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
}
.dash-status-dot,.dash-post-status-dot {
  margin-left: 0px;
}

  .bodywrap {
    display: flex;
    flex-direction: column;
}
.navwrapper{
  width:70%;
  max-width: 80%;
  padding:30px 0 0 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: scroll;
  height: 100%;
  display:none;
  opacity:0;
  transform:translateX(-270px);
}
.contentwrap{
  width:100%;
  max-width: 100%;
  padding:0;
}
div#dds-grid {
  flex-direction: row;
    justify-content: space-around;
}

.card img {
  width: 140px;
  height: 100px;
}
.menuitems {
  width: 80%;
  margin-bottom: 50px;
 
}

.dashhead{
  margin: 22px 40px 14px;
  text-align: left;
  font-size:19px;
}

.additem {
  width: 200px;
  margin:22px 40px 14px;
}

.card {
  flex-basis: 30%;
  align-items: flex-start;
  flex-direction: column;
  background: white;
  margin: 15px 0 15px 0;
  border-radius: 6px;
  min-width: 70%;
}
.dds-group-button #dash-status,.dds-group-button #dash-post-status{
  margin:0px;
}

.beheerwagen {
  align-items: center;
  justify-content: center;
  margin-right:0px;
  width:100%;
  max-width:100%;
}
.selectwrapper,.selectwrapper-post-status {
  margin-left: 0;
  align-items: center;
  height: 40px;
  width: 100%;
  max-width:100%;
  margin-right:0px;
 
}i.icon-pencil {
  margin-right: 10px;
}
}