@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');


select{
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
-moz-appearance: none; 
-webkit-appearance: none; 
appearance: none;
}
* {
    font-family: "Montserrat",Arial;
}
input#title {
    display: none;
}
#screen-meta-links{
  display:none;
}
#adminmenuback,#heateor_sss_meta,#wpbf,#wpbf_sidebar,.elementor-message,.notice-warning,#rocket_post_exclude,#purge-action,#adminmenuwrap,#wpadminbar,#merkenmodeldiv,#wpfooter,#edit-slug-box,#carmodifieddate-input,#caruniq-input,#visibility,.misc-pub-section,#minor-publishing-actions{
    display:none;
    
}
#acf-group_jupiterx_post{
  display:none !important;
}
#wpcontent, #wpfooter {
    margin-left: 0;
}
#bulk-titles div a:before, .notice-dismiss:before, .tagchecklist .ntdelbutton .remove-tag-icon:before, .welcome-panel .welcome-panel-close:before,.notice-dismiss:active:before, .notice-dismiss:focus:before, .notice-dismiss:hover:before {

    color: #ffffff;
}


/* #poststuff #post-body.columns-2 #side-sortables {
    width: unset;
}
#post-body.columns-2 #side-sortables {
    min-height: unset;
}
#post-body.columns-2 #postbox-container-1 {
    float: unset;
    margin-right: unset;
    width: unset;
}
#poststuff #post-body.columns-2 {
    margin-right: auto;
} */
.metabox-holder .postbox-container .meta-box-sortables {
 
  position: sticky;
  display: block;
  top: 100px;
}
.topnavtoggle{
  cursor:pointer;
}
.statusflex{
  display:flex;flex-direction:row;justify-content: center;
}
input#carwagentitel-input {
    display: block;
    margin-top: 5px;
    width: 100%;
}
.postbox{
  min-width:unset;
}
div#post-body-content {
  display: none !important;
}
div#post-body {
  display: flex;
  flex-direction: row-reverse;
}
div#postbox-container-1 {
  width: 30% !important;
  margin: 0px 20px;
}

div#postbox-container-2 {
  width: 70% !important;
}

#poststuff #post-body.columns-2{
  margin-right:unset;
}
#post-body.columns-2 #postbox-container-1 {
  float: unset;
  margin-right: unset;
  width: unset;
}
.postbox-header {
  display: block;
}  .loguitlink{
  padding:0;
  font-weight: 500;    
 
  text-align: left;

  color: #5b6271;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div#message {
    border: 0;
    width: 100%;
    border-radius: 7px;
    background: #145471;
    color: white;
}.updated a {
    padding-bottom: 2px;
    color: white;
}

.meta-box-sortables input,.meta-box-sortables select,#titlediv #title {
    padding: 5px 15px;
    border-color: #ccd0d4;
}
#misc-publishing-actions {
    padding: 0;
}
.spinner{
    position:absolute;
    bottom:25px;
    left:20%;
    z-index:1000;
}
#car_gegevens label {
    padding: 18px 2px 7px;
    font-weight: 500;
}
.socialwrap {
    width: 100%;
}
.wp-core-ui .button, .wp-core-ui .button-secondary {
    color: #636363;
    border-color: #cecece;
    background: #f3f5f6;
   
} 
.postbox {
  box-shadow: 0 1px 1px rgb(0 0 0 / 0%);
}
#car_social_push h2.hndle.ui-sortable-handle {
    font-size: 12px !important;
}

a.submitdelete.deletion {
    display: none;
}
#submitdiv .postbox-header {
    display: none;
}#major-publishing-actions {
    padding: 0;
    clear: both;
    border-top: 0px solid #ddd;
    background: #f6f9fa;
}
#submitdiv{
    border:0px !important;

}
#publishing-action {
    text-align: center;
    float: none;
    line-height: 1.9;
    width: 100%;
}.postbox {
    border-radius: 6Px;
}
a.page-title-action {
    border-radius: 7px !important;
    border-color: #81d8f9 !important;
    color: #20aee3 !important;
    padding: 7px 20px !important;
}
input#publish {
  color: white;
  width: 50%;
  font-size: 16px;
  border: 0;
  color: #ffffff;
  background: #20aee3;
  text-decoration: none;
  font-size: 16px;
  padding: 5px;
  font-weight: 500;
  border-radius: 7px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 0px solid #20aee3;
  box-shadow: 0px 0px 0px #ffffff00;
}
#major-publishing-actions {
  background: #f6f9fa;
}
input#publish:hover{
    opacity:0.9;
    transition:0.2s;
}
.car_gegevens label,#car_meta_data label {
    padding: 18px 0 5px;
    font-weight: 600;
}
#car_meta_data img {
border-radius: 6px;
margin: 10px !important;    
width: 87px;
height: 67px;
}
div#wpwrap {
  position: absolute;
  width: 80%;
  left: 20%;
  max-width: 1300px;
}


.selectwrapper{
  display: flex;
  align-items: center;
  height: 40px;
  width: 48%;
  margin-right: 20px;
  min-width:130px;
 
  margin-top:10px;
}
.selectwrapper-post-status{
  display: flex;
  align-items: center;
  height: 40px;
  width: 48%;
  margin-right: 20px;
  min-width:130px;
  
  margin-top:10px;
}
.toggleinmenu{
  display:none;
}
@media only screen and (max-width: 1250px) {
  .toggleinmenu{
    display:block;
  }
  .topnavtoggle{
    display: flex;
    align-items: center;
    justify-content: center;
  }
.navwrapper{
  max-width: 80%;
  padding:30px 0 0 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  display:none;
  opacity:0;
  transform:translateX(-270px);
}
.contentwrap{
  width:100%;
  max-width: 100%;
  padding:0;
}
  input#publish {
    color: white;
    width: 100%;
  }
  div#fbpush, div#igpush {
    font-size: 10px;
}
div#wpwrap {
  width: 100%;
  margin-left: 0;
  left: unset;
}
  #poststuff {
    min-width: unset;
    display: flex;
    flex-wrap: wrap;
}
    
   
    input#title {
        width: 307px !important;
    }

}
.postbox-header .handle-actions {
  display: none;
}
@media only screen and (max-width: 960px){
  
  
.auto-fold #wpcontent, .auto-fold #wpfooter {
    margin-left: 0;
}
}
  @media only screen and (max-width: 800px) {
    
  
    #wpbody {
      padding-top: 0;
  }
    #major-publishing-actions {
      background: transparent !important;
  }
    .wrap {
      clear: unset;
      margin-right: 0;
      margin-left: 0;
  }
    
    div#postbox-container-1 {
      width: 100% !important;
      margin: 0;
  }
  div#postbox-container-2 {
    width: 100% !important;
}
    div#wpwrap {
      position: relative;
      width: 100%;
      left: 0%;
      max-width: unset;

      margin-left: 0;
  }
  div#post-body {
    flex-direction: column;
}
input#publish {
  margin: 7px;
  width: 100%;
}
    #major-publishing-actions {
        background: #f5f5f5;
        position: fixed;
        z-index: 100;
        width: 100%;
        background: white;
        
        bottom: 0;
        left: 0;
    }
  #publishing-action {
    width: 50%;
        display:inline-block;
    }
    .archieflink{
        display:inline-block;

    }
    #delete-action{
        display:none;
    }
    #submitdiv .postbox-header{
        display:none;
    }
    #submitdiv {
        border: 0px solid #ccd0d4;
        
    }
    .archieflink {
        
        padding: 11px 20px;
        margin: 0;
    }
    #major-publishing-actions {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    a.archieflink {
        display: flex;
    }
    .fields label {
        margin: 7px 0;
    }
  .toggleinmenu{
    display:block;
    position:absolute;
    top:30px;
    left: 75%;
  } 
  .topnavtoggle{
    display:flex;
  }
  .topnav{
    justify-content:space-between;
  }

  
.card-body {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
}
.dash-status-dot,.dash-post-status-dot {
  margin-left: 0px;
}

  .bodywrap {
    display: flex;
    flex-direction: column;
}
div#dds-grid {
  flex-direction: row;
    justify-content: space-around;
}

.card img {
  width: 140px;
  height: 100px;
}
.menuitems {
  width: 80%;
  margin-bottom: 50px;
 
}

.dashhead{


  margin: 22px 40px 14px;
  text-align: left;
}

.additem {
  width: 200px;
  margin:22px 40px 14px;
}

.card {
  flex-basis: 30%;
  align-items: flex-start;
  flex-direction: column;
  background: white;
  margin: 15px 0 15px 0;
  border-radius: 6px;
  min-width: 70%;
}
.dds-group-button #dash-status,.dds-group-button #dash-post-status{
  margin:0px;
}i.icon-pencil {
  margin-right: 10px;
}
}

@media screen and (max-width: 782px){
  div#postbox-container-1 {
    z-index: 1;
}
  div#postbox-container-2 {
    margin-top: 20px;
}
.auto-fold #wpcontent {
    position: relative;
    margin-left: 0;
    padding-left: 0;
    padding: 30px;
    padding-top: 0px;
}
}

@media screen and (max-width: 402px){
 
  a.page-title-action {
    margin-bottom: 10px;
    display: block;
    text-align: center;
}
  .statusflex {
    flex-direction: column;
}
  .selectwrapper,.selectwrapper-post-status {
    width: 100%;
  }
  }

html.wp-toolbar {
    padding-top: 0 !important;
}
.archieflow {
    padding-left: 50px !important;
    font-size: 16px !important;
    background: hsl(197deg 30% 95%);
}
.postbox-header {
    border-bottom: 1px solid #ffffff;
}
.dds-group-button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .dds-group-button #dash-status{
    margin: 0px 20px 0 10px;
    height: 100%;
  }
  .dds-group-button #dash-post-status{
    margin: 0px 20px 0 10px;
    height: 100%;
  }
  select{
    border-radius: 7px;
    padding-left:25px;
    border: 1px solid #dedede;
      color: #7e879a;
      background:white;
      
  }
  option{
    background:white;
  }
  .dds-group-button select {
    width: 170px;
  }
  .dds-group-button a {
    width: 105px;
  }
  
  
  
  .dash-status-dot span {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 100px;
  }
  .dash-post-status-dot span {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 100px;
  }
  .live {
    background: #1eb716;
  }
  .nglive {
    background: #e67510;
  }
  
  .archief {
    background: #999999;
  }
  
  
  .tekoop {
    background: #1eb716;
  }
  .gereserveerd {
    background: #e67510;
  }
  
  .verkocht {
    background: #999999;
  }
  
  .dash-status-dot {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 7px;
  }
  
  .dash-post-status-dot {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 7px;
  }
  select#dash-status {
    padding-left: 40Px;
    width: 100%;
    border-radius:7px;
}
select#dash-post-status {
    padding-left: 40Px;
    width: 100%;
    border-radius:7px;
}
html.wp-toolbar {
    padding-top: 0 !important;
}

 
  
a{
  text-decoration: none !important;
}
body{
  background: #f6f9fa;
}
.bodywrap {
  display: flex;
  min-height: 100vh;

    background: #f6f9fa;

}
.topnav{
  background: white;
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  display: flex;
  justify-content: space-between;

  padding:15px 3%;
}

.dashhead{
  margin: 22px 0 14px;
  text-align: left; }

 

  .dslogo {
    padding-left: 25px;
    width: 125px;
    height: 29px;
  }


  .contentwrap {
    flex-basis: 80%;
    
    
  }

  .bodywrap {
    display: flex;
  }
  .additem:hover {
    opacity: 0.9;
    transition: 0.2s;
  }
  .dsactive{
    background: #f0f5f7;
    border-left: 4px solid #20aee3;
  }
  
  .menuitemwrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .filterlabel {
    font-variant: all-small-caps;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 15px;
  }
.showallcars{
 cursor:pointer;
 font-weight: 500;

}

.merkitem{
  cursor:pointer;
}.ds-selected {
  color: rgb(31 104 138) !important;
  transition: 0.4s;
  font-weight: bold;
}

.dds-group-button{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
  justify-content: flex-start;
}
.dds-group-button #dash-status{
  height: 100%;
}
.dds-group-button #dash-post-status{
  height: 100%;
}
select{
  border-radius: 7px;
  padding-left:25px;
  border: 1px solid #dedede;
    color: #7e879a;
    background:white;
    width: 100%;
}
option{
  background:white;
}


.dash-status-dot span {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 100px;
}
.dash-post-status-dot span {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 100px;
}

.dash-status-dot {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.dash-post-status-dot {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}



.autodataophalen {
  width: 45%;
min-width: 200px;
text-align: center;
background: #56c104;
color: white;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 7px;
font-size: 16px;
border: 2px solid #4fb500;
}
.autodataophalen:hover{
cursor:pointer;
}
.select2 {
width: 100% !important;
}

#car_gegevens label,.labeldiv label {
padding: 18px 0 5px;
font-weight: 600
}

.checkwrap,
.fields {
display: flex;
flex-direction: column
}

.checkboxtitle {
font-size: 15px;
font-weight: 600;
margin-top: 10px;
margin-bottom: 10px
}

.fields label {
margin-bottom: 5px
}

.select2-selection__rendered {
line-height: 39px !important
}

.select2-container .select2-selection--single {
height: 42px !important
}

.select2-selection__arrow {
height: 42px !important
}
.car_gegevens label {
  padding: 18px 0 5px;
  font-weight: 600;
}