@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');



* {
    font-family: "Montserrat",Arial;
}
#adminmenuback,#adminmenuwrap,#screen-meta-links,#wpadminbar,#merkenmodeldiv,#wpfooter,#edit-slug-box,#carmodifieddate-input,#caruniq-input,#visibility,.misc-pub-section,#minor-publishing-actions{
    display:none;
    
}
#wpcontent, #wpfooter {
    margin-left: 0;
}
.toggle-switchy > input:checked + .toggle > .switch {
    border: 3px solid #3390bb;
}
.toggle-switchy > input:checked + .toggle {
    background: #1f688a;
}
#bulk-titles div a:before, .notice-dismiss:before, .tagchecklist .ntdelbutton .remove-tag-icon:before, .welcome-panel .welcome-panel-close:before,.notice-dismiss:active:before, .notice-dismiss:focus:before, .notice-dismiss:hover:before {

    color: #ffffff;
}
#post-body.columns-2 #postbox-container-1 {
    float: right;
    margin-right: 0;
    width: 280px;
    position: fixed;
    right: 18%;
}
div#message {
    border: 0;
    width: 100%;
    border-radius: 7px;
    background: #145471;
    color: white;
}.updated a {
    padding-bottom: 2px;
    color: white;
}
#wpwrap {
    width: 60%;
    margin: auto;
}.meta-box-sortables input,.meta-box-sortables select,#titlediv #title {
    padding: 5px 15px;
    border-color: #ccd0d4;
}
#misc-publishing-actions {
    padding: 0;
}
.spinner{
    position:absolute;
    bottom:25px;
    left:20%;
    z-index:1000;
}
#car_gegevens label {
    padding: 18px 2px 7px;
    font-weight: 500;
}
.socialwrap {
    width: 100%;
}
.wp-core-ui .button, .wp-core-ui .button-secondary {
    color: #636363;
    border-color: #cecece;
    background: #f3f5f6;
    vertical-align: top;
   
}

#car_social_push h2.hndle.ui-sortable-handle {
    font-size: 12px !important;
}
div#fbpush,div#igpush {
    width: 100%;
    padding: 8px;
}
a.submitdelete.deletion {
    display: none;
}
#submitdiv .postbox-header {
    display: none;
}#major-publishing-actions {
    padding: 0;
    clear: both;
    border-top: 0px solid #ddd;
    background: #f5f5f5;
}
#submitdiv{
    border:0px !important;

}
#publishing-action {
    text-align: center;
    float: none;
    line-height: 1.9;
    width: 100%;
}.postbox {
    border-radius: 6Px;
}

input#publish {
    color: white;
    width: 100%;
    font-size: 16px;
    border: 0;
    color: #20aee3;
    background: #f0f5f7;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
    border-radius: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #20aee3;
    box-shadow: 0px 0px 0px #ffffff00;
}
input#publish:hover{
    opacity:0.9;
    transition:0.2s;
}
.car_gegevens label,#car_meta_data label {
    padding: 18px 0 5px;
    font-weight: 600;
}
#car_meta_data img {
border-radius: 6px;
margin: 10px !important;    
width: 87px;
}
  


  @media only screen and (max-width: 1241px) {
    #poststuff #post-body.columns-2 {
        margin-right: 0;
    }
    #post-body.columns-2 #postbox-container-1 {
        float: left;
        margin-right: 0;
        width: 100%;
        right: 0;
        position: static;
    }
    #poststuff #post-body.columns-2 #side-sortables {
        width: 100%;
    }
    #wpwrap {
        width: 100%;
        margin: auto;
    }
    #major-publishing-actions {
        background: #f5f5f5;
        position: fixed;
        z-index: 100;
        width: 90%;
        background: white;
        
        bottom: 0;
        left: 0;
    }
  #publishing-action {
    width: 50%;
        display:inline-block;
    }
    .archieflink{
        display:inline-block;

    }
    #delete-action{
        display:none;
    }
    #submitdiv .postbox-header{
        display:none;
    }
    #submitdiv {
        border: 0px solid #ccd0d4;
        
    }
    .archieflink {
        
        padding: 11px 20px;
        margin: 0;
    }
    input#publish {
   
        margin: 0;
    }
    #major-publishing-actions {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    a.archieflink {
        display: flex;
    }
    .fields label {
        margin: 7px 0;
    }
}html.wp-toolbar {
    padding-top: 0 !important;
}
.archieflow {
    padding-left: 50px !important;
    font-size: 16px !important;
    background: hsl(197deg 30% 95%);
}
.postbox-header {
    border-bottom: 1px solid #ffffff;
}