* {
    padding: 0;
    margin: 0;
    font-family: "Rubik", Arial;
  }
a{
  text-decoration: none !important;
}
  .navwrapper {
    padding: 15px 40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: #ffffff;
    width: 15%;
    max-width: 300px;
    flex-direction: column;
    border-right: 1px solid #efefef;
    box-shadow: 0 3px 9px 0 rgba(169, 184, 200, .15);
    -webkit-box-shadow: 0 3px 9px 0 rgba(169, 184, 200, .15);
    -moz-box-shadow: 0 3px 9px 0 rgba(169, 184, 200, .15);
  }

  .dslogo {

    width: 180px;
  }


  .contentwrap {
    width: 85%;
    background: #eaeaea;
    padding:3%;
  }

  .bodywrap {
    display: flex;
  }

  .additem {
    background: #ca112a;
    background: linear-gradient(45deg, #d63232, #d02655);
    padding: 15px 10%;
    text-align: left;
    margin: 50px 0 10px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .additem:hover {
    opacity: 0.9;
    transition: 0.2s;
  }
  .archieflink {
    background: #f5f5f5;
    padding:15px 10%;
    text-align: left !important;
    margin: 20px 0 40px;
    color: #424242;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    box-shadow: 0px 1px 2px #d2d2d2a6;text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  .archieflink:hover{
    opacity: 0.9;
    transition: 0.2s;
  }
  .menuitemwrap div {
    padding: 5px 0;
    color: #353535;
    font-size: 16px;
  }

  .menuitems {
    padding-top: 25px;
    border-top: 1px solid #efefef;
    height: 400px;
  }

  .menuitemwrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .filterlabel {
    font-variant: all-small-caps;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .card {
    flex-basis: 20%;
    margin: 20px 0;
    background: white;
    margin: 2%;
    border-radius:6px;
    min-width: 200px;
}
.card img {
  width: 100%;
  border-radius: 6px 6px 0 0;
  height: 170px;
  object-fit: cover;
}
div#dds-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.card .hr{
  margin: 10px 0;
    border: 0;
    height: 1px;
    background: #efefef;
}
.showallcars{
 cursor:pointer;
 font-weight: 500;

}

.beheerwagen {
  color: #4c4c4c;
  text-decoration: none;
  font-size: 13px;
  padding: 10px;
  border: 1px solid #e8e8e8;
  background: #f5f5f5;
  font-weight: 300;
  border-radius: 5px;
  box-shadow: 0px 1px 2px #d2d2d2a6;text-align: center;
}
.merkitem{
  cursor:pointer;
}.ds-selected{
 
  color:rgb(228, 19, 64) !important;
  transition:0.4s;
}

@media only screen and (max-width: 700px) {
  .bodywrap {
    display: flex;
    flex-direction: column;
}
.navwrapper{
  width:100%;
  max-width: 100%;
  padding:0;
}
.contentwrap{
  width:100%;
  max-width: 100%;
  padding:0;
}
div#dds-grid {
  flex-direction: row;
    justify-content: space-around;
}

.card {
  flex-basis: 30%;
  margin: 20px 0;
  background: white;
  margin: 3%;
  border-radius: 6px;
  min-width: 250px;
}
}